body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background: darkseagreen;
  height: 70px;
  width: 100%;
}

.navbar {
  line-height: 40px;
  margin-left: 20px;
}

.logo {
  margin-right: 3%;
}

.title {
  font-size: 25px;
  color: darkgreen;
}

.navbar-buttons {
  margin-right: 3%;
}

.nav-button {
  margin: 0 5px;
}

.box-text {
  margin-top: 5%;
  text-align: center;
}

.box-control {
  margin-left: 35%;
  width: 30%;
}

.box-label, .pass-text {
  margin-left: 35%;
  margin-right: 35%;
}

.login-buttons {
  margin-top: 2%;
  text-align: center;
}

.sign-up-button{
  margin-right: 10%;
}