body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background: darkseagreen;
  height: 70px;
  width: 100%;
}

.navbar {
  line-height: 40px;
  margin-left: 20px;
}

.logo {
  margin-right: 10px;
}

.title {
  font-size: 25px;
  color: darkgreen;
}

.buttonsNavbar {
  margin-right: 80px;
}

.navButton {
  margin: 0 5px;
}

.loginText {
  margin-top: 100px;
  margin-right: 550px;
  margin-left: 580px;
}

.emailBox {
  margin-right: 600px;
  margin-left: 600px;
}

.passwordBox {
  margin-right: 600px;
  margin-left: 600px;
}

.signInLink {
  margin-left: 600px;
}

.signInText {
  margin-top: 100px;
  margin-right: 450px;
  margin-left: 500px;
}